<div class="blockbuster-error">
    <h1 class="glitch">ERROR</h1>
    <!-- Dynamic error messages -->
    <% if (error.message.includes('rent')) { %>
      <p class="film-roll"><%= error.message.replace('rent', 'enroll') %></p>
    <% } else { %>
      <p class="film-roll"><%= error.message %></p>
    <% } %>
    
    <!-- Reused button -->
    <a href="/courses" class="btn-blockbuster">BACK TO SCHEDULE</a>
  </div>